{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css">
{% endblock %}

{% block title %}
<title>Edit Print</title>
{% endblock %}

{% block main %}
<div class="row">
<div class="col col-sm-12 col-lg-4">

<script>
const isdigit=(value)=>{
    const val=Number(value)?true:false
    console.log(val);
    return val
}

function trySetMaterialCost() {
console.log("in mat cost func");
var matQuantity = document.getElementById("matQty1").value;
var matSelectorKey = document.getElementById("materialSelector").value;
var materialCostPerUnit = materialsCost[matSelectorKey][0];
var outputCost = materialCostPerUnit * matQuantity;

console.log(matQuantity);
console.log(matSelectorKey);
console.log(materialCostPerUnit);
console.log(outputCost);

document.getElementById("matCost1").setAttribute("value", materialCostPerUnit);

// This changed whether the total cost is listed as void or not.
if (Number.parseFloat(outputCost).toFixed(2) < Number.parseFloat(1.0).toFixed(2)) {
document.getElementById("totalCostPrefix").innerHTML = "$ (Void)";
} else{
document.getElementById("totalCostPrefix").innerHTML = "$";
}
// These two change the labels on the site when changed the material or quantity.
document.getElementById("matQtySuffix").innerHTML = (materialsCost[matSelectorKey][1]);
document.getElementById("matCostSuffix").innerHTML = "/" + (materialsCost[matSelectorKey][1]);

document.getElementById("totalCost").setAttribute("value", Number.parseFloat(outputCost).toFixed(2));
}
// materials cost table, to be pulled from alexandria in the future.  For now this works?
var materialsCost = [
[0, 'g'],
[.04, 'g'],
[.04, 'g'],
[.30, 'cm³'],
[.03, 'g'],
[.19, 'mL'],
[.22, 'mL']
];

</script>

<!-- Material selector. --> 
<label for="materialSelector" class="form-label">Print Material</label>
<select name="materialSelector" id="materialSelector" class="form-select" aria-label="Default select example" onchange="trySetMaterialCost();" required>
  <option value="0" selected>Select material</option>
  <option value="1">PLA</option>
  <option value="2">PETG</option>
  <option value="" disabled><hr></option> <!--Test? -->
  <option value="3">Onyx</option>
  <option value="4">TPU</option>
  <option value="" disabled><hr></option> <!--Test? -->
  <option value="5">Clear Formlabs Resin</option>
  <option value="5">White Formlabs Resin</option>
  <option value="5">Grey Formlabs Resin</option>
  <option value="5">Black Formlabs Resin</option>
  <option value="6">Tough Formlabs Resin</option>
</select>

<!--Input material quantity. -->

<label for="matQty1" class="form-label">Material Quantity</label>
<div class="input-group mb-3">
  <input type="number" id="matQty1" class="form-control" placeholder="" aria-label="Material Quantity" onchange="trySetMaterialCost();" required>
    <span class="input-group-text" name="matQtySuffix" id="matQtySuffix">g, mL or cm³</span>
</div>



<!--Input material cost.. -->

<label for="matCost1" class="form-label">Material Cost</label>
<div class="input-group mb-3">
  <span class="input-group-text" id="matCostPrefix">$</span>
  <input type="number" id="matCost1" class="form-control" placeholder="User material selector." aria-label="Material Cost" disabled>
    <span class="input-group-text" name="matCostSuffix" id="matCostSuffix">/qty</span>
</div>

<hr>
<!--Input material cost.. -->
<label for="totalCost" class="form-label">Total Print Cost</label>
<div class="input-group mb-3">
  <span class="input-group-text" id="totalCostPrefix">$</span>
  <input type="number" id="totalCost" name="totalCost" class="form-control" placeholder="0.00" aria-label="Total Cost" disabled>
</div>

</div> {# Closes left column. #}

<div class="col col-sm-12 col-lg-4"> {# right column #}
 <div class="form-group">
    <label for="exampleFormControlTextarea1">Print Notes</label>
    <textarea class="form-control" id="printNotes" name="printnotes" rows="5"></textarea>
  </div>
  
  <div class="py-2">
  <button type="button" class="btn btn-outline-primary">Save Notes</button>
  </div>
</div> {# closes right column #}

{# opens far right column #}
<div class="col col-sm-12 col-lg-4">

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add New Print Status
</button>

<hr> 

<h4> Recent Statuses</h4>

<div class="py-2">
<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Failed</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vallika</h6>
        <p class="card-text"><small class="text-muted">(2021.11.24 @ 2:54PM)</small></p>
    <p class="card-text">Print didn't have good bed adhesion.</p>
  </div>
</div>
</div>

<div class="py-2">
<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Started</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vallika (2021.11.24 @ 1:07PM)</h6>
    <p class="card-text">Put on Prusa MK3S #3.</p>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Print Status Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <!-- Popup modal for new print status. -->
      
      <div class="py-2">
       <select class="form-select py-2" aria-label="Default select example" required>
  <option selected>Who?</option>
{% for user in validPrintingUsers %}
  <option value="{{user.name}}">{{user.name}}</option>
{% endfor %}
</select>
</div>
<!-- Select for what status -->
<div class="py-2">
       <select class="form-select py-2" aria-label="Default select example" required>
  <option selected>Status?</option>
  <option value="start">Print Started</option>
  <option value="change_submitted">User Submitted File Info Change / More Context</option>
  <option value="finished">Print Finished</option>
  <option value="pickedup">Picked Up</option>
  <option value="failed">Print Failed</option>
  <option value="cancelled">Print Cancelled</option>
</select>
</div>

<div class="mb-3">
  <label for="printStatusChangeNotes" class="form-label">Change Notes</label>
  <textarea class="form-control" id="printStatusChangeNotes" rows="3"></textarea>
</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit Status</button>
      </div>
    </div>
  </div>
</div>



</div> {# Closes right column. #}
</div> {# Closes row. #}
{% endblock %}
