<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PRINTS OR SOME SHIT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/new">New Print</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recent">Recently Changed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all">All Prints</a>
        </li>
      </ul>
      <!--<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>

<main class="container">
  <!--<div class="bg-light p-5 rounded">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.1/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>-->
  
  <div class=" d-flex flex-wrap">
  {% for k, d in enumerate(dat) %}
<div class="d-flex p-2">
 <div class="card border-primary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{d['user']}}</h5>

{% if d['dates']|length < 3 %}
          {% for dq in d['dates'] %}
    <li class="list-group-item"><a href="#">{{dq}}</a></li>
	{% endfor %}
	{% else %}
<div class="accordion" id="accordion_{{k}}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="accordion_heading_{{k}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{k}}" aria-expanded="false" aria-controls="collapse_{{k}}">
        <span class="badge bg-secondary">{{d['dates']|length }} Batches</span> 
      </button>
	  
    </h2>
    <div id="collapse_{{k}}" class="accordion-collapse collapse" aria-labelledby="accordion_heading_{{k}}" >
      <div class="accordion-body">
          {% for dq in d['dates'] %}
    <li class="list-group-item"><a href="#">{{dq}}</a></li>
	{% endfor %}
		</div>
    </div>
  </div>
</div>
{% endif %}

  </div>
</div>
</div>
  {% endfor %}
    </div>
</main>


</body>
</html>
