{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css">
{% endblock %}

{% block title %}
<title>Recent Prints</title>
{% endblock %}


{% block main %}
<div class="row">
<div class="col col-sm-12 col-lg-6">
{% if users %}
<div class="card">
 <div class="card-header">
    <b>Choose Existing User / Group</b>
  </div>
  
  

  <ul class="list-group">
     <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Super Fake User</a>
    <span><span title="Total submitted." class="badge bg-secondary rounded-pill">14</span> | <span title="Total finished." class="badge bg-success rounded-pill">2</span> </spam?
    </li>
{% for u in users %}
     <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">{{u}}</a>
    <span class="badge bg-secondary rounded-pill">0</span>
    </li>
{% endfor %}
  </ul>
  </div>
  </div>
<div class="col col-sm-12 col-lg-6">
<label for="usersName" class="form-label">Make New User</label>
  <input id="usersName" type="text" class="form-control" placeholder="User's Name / Group's Name" aria-label="User's Name / Group's Name">
  
  <label for="netID" class="form-label">Contact User's NetID / User's NetID</label>
  <input id="netID" type="text" class="form-control" placeholder="User's NetID" aria-label="User's NetID">
  
    <label for="email" class="form-label">Contact Email</label>
  <input id="email" type="email" class="form-control" placeholder="jhenry123@scarletmail.rutgers.edu" aria-label="Rutgers Email">
  
</div>
</div>
</div>
{% endif %}
{% if usersName %}
</div>
<form action="/new/api/upload" class="dropzone" id="gcodedropper">
<input id="usersName" name="usersName" value="{{usersName}}" hidden></input>

</form>
<script>
Dropzone.options.gcodedropper = {

acceptedFiles:".gcode, .gco, .3mf, .form, .ufp"

}
</script>
{% endif %}
{% endblock %}
